/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-backrop text-white antialiased;
  }
  #root {
    @apply flex flex-col;
  }

  .wrapper {
    height: calc(100vh - theme("spacing.24"));
    @apply flex;
  }
}

.active {
  background: #282828;
  color: #fff;
}
